@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary: #207733;
    --secondary: #56A77B;
    --gray: #F5F5F4;
    --dark: #1F2D20;

    --primary-font: "Cormorant", serif;
    --secondary-font: "Open Sans", sans-serif;
}

* {
    font-family: var(--secondary-font);
    scrollbar-width: none;
}
body{
    color: var(--dark);

}

.primary-font{
    font-family: var(--primary-font);
}

.primary-color{
    color: var(--primary) ;
}
.secondary-color{
    color: var(--secondary)
}

.bg-gray{
    background-color: var(--gray);
}
.green-border{
    border: 1px solid var(--primary);
}
.bg-custom-primary{
    background-color: var(--primary);
}
.bg-green-dark{
    background-color: var(--dark);
}
.secondary-border {
    border: 1px solid var(--secondary);
}
.text-dark-custom{
    color: var(--dark);
}
.cursor-pointer{
    cursor: pointer;
}