.textarea-auth{
    background-color: #f1f1f186;
    color: #5F5E5E;
    transition: 0.7s;
    padding: 10px 20px;
    font-size: 14px;
}
.textarea-auth:focus{
    outline: 1px solid var(--secondary);
    border: none;
}
.input-disabled{
    background-color: #F1F1F1;
}
@media screen and (max-width:768px) {
    .textarea-auth{
       font-size: 12px;
    }
    
}