.newsletter-box{
    background-image: url("../../assets/home/newsletter.png");
    border-radius: 30px;
}
.newsletter-desc{
    width: 50% !important;
}
.newsletter-input{
    width: 50% !important;
}
.subscribe-input:focus{
    outline: none;
}
@media screen and (max-width:500px){
    .newsletter-desc{
        width: 100% !important;
    }
    .newsletter-input{
        width: 100% !important;
    }
    .newsletter-box{
        border-radius: 0px;
    }
  }