/* Sticky Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    background-color: var(--gray);
}


.scrolled {
    background-color: #f5f5f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-header {
    width: 200px;
}

.header-nav {
    text-decoration: none;
    color: var(--dark);
    height: 30px;
}

.header-nav:hover {
    color: var(--primary);
}

.active-nav {
    font-weight: bolder;
    color: var(--primary);
    transition: 0.3s all;
}

@media screen and (max-width: 768px) {
    .logo-header {
        width: 150px;
    }
}
