.connect-details{
    height: 75%;
}
.loader-icon {
    animation: animate-loader 1s ease infinite;
 }
 
 @keyframes animate-loader {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
 .fs-5-custom{
    font-size: 1.3rem;
 }
@media screen and (max-width:1024px){
   .connect-details{
    height: 100%;
   }
}
@media screen and (max-width:500px) {
    .fs-5-custom{
        font-size: 1rem;
     }
}