.loader-container {
    background-color: rgba(255, 255, 255, 0.538);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    
  }
  .loader-custom {
    animation: rotate 1.5s infinite;
    height: 40px;
    width: 40px;
  }

  .loader-custom:before,
  .loader-custom:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader-custom:before {
    animation: ball1 1s infinite;
    background-color: #eaeaea;
    box-shadow: 30px 0 0 var(--secondary);
    margin-bottom: 10px;
  }
  .loader-custom:after {
    animation: ball2 1s infinite;
    background-color: var(--secondary);
    box-shadow: 30px 0 0 #eaeaea;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 var(--secondary);
    }
    50% {
      box-shadow: 0 0 0 var(--secondary);
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 var(--secondary);
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #eaeaea;
    }
    50% {
      box-shadow: 0 0 0 #eaeaea;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #eaeaea;
      margin-top: 0;
    }
  }
  